@import url("https://fonts.googleapis.com/css?family=Cookie");

/* ===== NỀN / BODY ===== */

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkseagreen;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cookie", cursive;
}


/* ===== SLIDER SVG ===== */

#loveSliderSVG {
    width: 90%;
    height: 100%;
    visibility: visible;
}

.trackBg {
    stroke: #fffcf9;
    stroke-linecap: round;
    stroke-width: 15;
}

.trackMiddle {
    stroke: green;
    stroke-linecap: round;
    stroke-width: 6;
    opacity: 1;
}

.track {
    stroke: #ff595e;
    stroke-linecap: round;
    stroke-width: 6;
}

.heartChat {
    transform-origin: 50% 105%;
}

.heartFill {
    transform-origin: 50% 0%;
}

.follower,
.liquidFollower {
    fill: #62b6cb;
    stroke: #fffcf9;
}


/* ===== DRAGGER ===== */

.dragger {
    cursor: pointer;
}


/* ===== SCENE / CÂY ===== */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#days {
    font-size: 50px;
    color: #fff;
    letter-spacing: 3px;
    margin: 50px 0 0 0;
}

.mainSVG {
    width: 800px;
    height: 600px;
    visibility: hidden;
    overflow: visible;
}


/* ===== PARTICLE ===== */

.particle {
    transform-origin: 50% 50%;
}

.noel-love-root {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===== TREE STAR ===== */

.treeStar {
    transform-origin: 50% 50%;
}

.treeStarOutline {
    opacity: 0;
}


/* ===== SPARKLE ===== */

.sparkle {
    fill: url(#dotGrad);
    opacity: 1;
}


/* ===== TUYẾT ===== */

.drop {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
}

.snow {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.animate {
    animation: falling 8.5s infinite ease-in;
}

@keyframes falling {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 1500px;
        opacity: 0;
    }
}


/* ===== EFFECT ===== */

@keyframes twinkle {
    0%,
    100% {
        opacity: .7;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.7);
    }
}

@keyframes pop {
    0% {
        transform: scale(.5);
        opacity: 0
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

.sparkle.twinkle {
    animation: twinkle 3s infinite ease-in-out;
}