@import url("https://fonts.googleapis.com/css?family=Cookie");

/* ===== ROOT NOEL ===== */

.noel-love-root {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81b894;
    /* nền xanh như hình */
    overflow: hidden;
    font-family: "Cookie", cursive;
}


/* ===== SLIDER SVG ===== */

.noel-love-root #loveSliderSVG {
    width: 90%;
    height: 100%;
    visibility: visible;
}

.noel-love-root .trackBg {
    stroke: #fffcf9;
    stroke-linecap: round;
    stroke-width: 15;
}

.noel-love-root .trackMiddle {
    stroke: green;
    stroke-linecap: round;
    stroke-width: 6;
    opacity: 1;
}

.noel-love-root .track {
    stroke: #ff595e;
    stroke-linecap: round;
    stroke-width: 6;
}

.noel-love-root .heartChat {
    transform-origin: 50% 105%;
}

.noel-love-root .heartFill {
    transform-origin: 50% 0%;
}

.noel-love-root .follower,
.noel-love-root .liquidFollower {
    fill: #62b6cb;
    stroke: #fffcf9;
}


/* ===== DRAGGER ===== */

.noel-love-root .dragger {
    cursor: pointer;
}


/* ===== SCENE / CÂY ===== */


/* nếu giữ class="container" thì scope dưới root để không đụng chỗ khác */

.noel-love-root .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.noel-love-root #days {
    font-size: 50px;
    color: #fff;
    letter-spacing: 3px;
    margin: 50px 0 0 0;
}

.noel-love-root .mainSVG {
    width: 800px;
    height: 600px;
    visibility: hidden;
    /* GSAP sẽ set visible */
    overflow: visible;
}


/* ===== PARTICLE ===== */

.noel-love-root .particle {
    transform-origin: 50% 50%;
}


/* ===== TREE STAR ===== */

.noel-love-root .treeStar {
    transform-origin: 50% 50%;
}

.noel-love-root .treeStarOutline {
    opacity: 0;
}


/* ===== SPARKLE ===== */

.noel-love-root .sparkle {
    fill: url(#dotGrad);
    opacity: 1;
}


/* ===== TUYẾT ===== */

.noel-love-root .drop {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
}

.noel-love-root .snow {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}


/* class .animate dễ trùng, nên cũng scope theo root */

.noel-love-root .animate {
    animation: falling 8.5s infinite ease-in;
}

@keyframes falling {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 1500px;
        opacity: 0;
    }
}


/* ===== EFFECT ===== */

@keyframes twinkle {
    0%,
    100% {
        opacity: 0.7;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.7);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.noel-love-root .sparkle.twinkle {
    animation: twinkle 3s infinite ease-in-out;
}